html {
    background-color: black;

}

html body {
    background-color: #FBF890;
}

.reading-width {
    max-width: 750px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    padding: 40px 0px;
}

body footer {
    background-color: black;
    height: 200px;
}

footer p {
    color: #FBF890;
}

h1,  h2, h5, .navbar {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

.fa-brands {
    color: black;
}

#navbarNav {
    border-bottom: 4px solid black;
}

.nav-item .nav-link {
    color: black !important;
    font-size: 1.5rem;
}

.nav-item .nav-link:hover {
    color: black !important;
    font-size: 1.5rem;
}

p, .logbook .content-item-body {
    font-family: Georgia, serif;
    font-size: 1rem;
}

.logbook .content-item-body h3 {
    font-size: 1rem;
    display: inline;
    margin-left: 20px;
}

section {
    margin-bottom: 4rem;
}
