{% extends 'base.html' %}

{% block home %}

<section class="overview-block">
	<h2>Logbook</h2>
	<div class="overview-block-content content-highlight">
		{% for entry in journal_entries %}
		<a href="">
			<div class="content-item">
				<div class="content-item-body">
					<h3>{{ entry.title }}</h3>
					<span class="content-item-date">{{ entry.published_at|date:"M d Y" }}</span>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

<section class="overview-block">
	<h2>Project</h2>
	<div class="overview-block-content content-highlight">
		{% for project in current_project %}
		<a href="">
			<div class="content-item">
				<div class="content-item-body">
					<h3>{{ project.title }}</h3>
					<span class="content-item-date">{{ project.published_at|date:"M d Y" }}</span>
				</div>
                <div class="content-item-billboard">
					<img src="{{ project.billboard.url }}" class="thumb">
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

<section class="overview-block">
	<h2>Articles</h2>
	<div class="overview-block-content content-highlight">
		{% for entry in article_entries %}
		<a href="">
			<div class="content-item">
				<div class="content-item-body">
					<h3>{{ entry.title }}</h3>
					<span class="content-item-date">{{ entry.published_at|date:"M d Y" }}</span>
				</div>
                <div class="content-item-billboard">
					<img src="{{ entry.billboard.url }}" class="thumb">
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

{% endblock %}